@use "sass:map";

.bikes {
  padding-top: 40px;
  padding-bottom: 74px;
  display: grid;
  row-gap: 20px;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));

  @include desctopStyles {
    padding-bottom: 60px;
    grid-template-areas:
      "title buttons"
      "images images";
    row-gap: 120px;
  }

  &__title {
    max-width: 460px;
    padding-bottom: 20px;

    @include desctopStyles {
      padding-bottom: 0;
      grid-area: title;
    }
  }

  &__selector {
    min-width: 114px;
    padding: 8px 42px 8px 12px;
    justify-self: flex-start;
    background-color: transparent;
    border: 1px solid var(--bikes-select-border-color);
    border-radius: 2px;
    font-weight: map.get($font-weights, "semibold");
    font-size: 11px;
    line-height: 1.27;
    outline: none;

    @include desctopStyles {
      display: none;
    }
  }

  &__selector-option {
    background-color: var(--bikes-option-background);
  }

  &__button-group {
    display: none;

    @include desctopStyles {
      display: block;
      justify-self: flex-end;
      align-self: flex-end;
      grid-area: buttons;
    }
  }

  &__button {
    margin-right: 40px;
    font-weight: map.get($font-weights, "regular");
    font-size: 18px;
    line-height: 1.56;
    color: var(--bikes-button-color);
    opacity: 0.7;
    cursor: pointer;
  }

  &__button:last-of-type {
    margin-right: 0;
  }

  &__button:hover {
    opacity: 0.6;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__button {
    font-weight: map.get($font-weights, "semibold");
    color: var(--bikes-selected-button-color);
    opacity: 1;
  }

  &__container {
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;

    @include desctopStyles {
      grid-area: images;
    }
  }

  &__image-holder {
    max-width: 284px;
    padding: 16px 0;
    margin: 0;
    @include flex($direction: column, $align: center);
    background-color: var(--card-background);
    border-radius: 20px;

    @include tabletStyles {
      max-width: 380px;
      padding: 0;
      align-items: flex-start;
      background-color: transparent;
    }
  }

  &__image {
    max-width: 254px;
    object-fit: contain;

    @include tabletStyles {
      max-width: 340px;
      padding: 20px;
      margin-bottom: 20px;
      background-color: var(--card-background);
      border-radius: 20px;
    }
  }

  &__image-caption {
    font-weight: map.get($font-weights, "semibold");
    font-size: 14px;
    line-height: 1.29;
    color: var(--card-description-inside-color);
    text-align: center;

    @include tabletStyles {
      padding-left: 6px;
      font-size: 18px;
      line-height: 1.22;
      color: var(--card-description-outside-color);
    }
  }
}
