.button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &_type {
    &_menu {
      @include wh($w: 23px, $h: 23px);
      background: repeating-linear-gradient(
        to bottom,
        #151515,
        #151515 3px,
        transparent 3px,
        transparent 10px
      );
    }

    &_close {
      @include wh($w: 22px, $h: 22px);
      background: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 10px,
          #151515 10px,
          #151515 13px
        ),
        repeating-linear-gradient(
          to right,
          transparent,
          transparent 10px,
          #151515 10px,
          #151515 13px
        );
      transform: rotate(45deg);
    }

    &_previous {
      @include wh($w: 24px, $h: 24px);
      background-color: #ebebeb;
      background-image: url(../images/previous-btn.svg);
      background-size: 4.5px 10px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 30px;

      @include tabletStyles {
        @include wh($w: 50px, $h: 50px);
        background-size: 9px 18px;
      }
    }

    &_next {
      @include wh($w: 24px, $h: 24px);
      background-color: #ebebeb;
      background-image: url(../images/next-btn.svg);
      background-size: 5px 10px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 30px;

      @include tabletStyles {
        @include wh($w: 50px, $h: 50px);
        background-size: 9px 18px;
      }
    }
  }
}
