@use "sass:map";

.footer {
  padding-top: 40px;
  padding-bottom: 16px;
  background-color: #efefef;

  @include tabletStyles {
    padding-bottom: 60px;
  }

  &__container {
    max-width: 284px;
    margin: 0 auto;
    @include flex($direction: row, $align: center, $justify: space-between);

    @include tabletStyles {
      max-width: 580px;
    }

    @include desctopStyles {
      max-width: 1200px;
    }
  }

  &__copyright {
    font-weight: map.get($font-weights, "medium");
    font-size: 14px;
    line-height: 1.4;
    color: #cfcfcf;
  }

  &__logo {
    @include tabletStyles {
      display: none;
    }
  }

  &__switch {
    margin-right: 42px;
    display: none;

    @include tabletStyles {
      display: block;
    }
  }
}
