@use "sass:map";

.headline {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: map.get($font-weights, "bold");
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  color: var(--headline-color);
  margin: 0;

  @include tabletStyles {
    font-size: 55px;
    line-height: 1.09;
  }
}
