@use "sass:map";

.subscription {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;

  @include tabletStyles {
    padding-top: 80px;
  }

  &__container {
    max-width: 284px;
    margin: 0 auto;

    @include tabletStyles {
      max-width: 580px;
    }

    @include desctopStyles {
      max-width: 1200px;
    }
  }

  &__title {
    max-width: 284px;
    margin-bottom: 40px;
    font-weight: map.get($font-weights, "semibold");
    font-size: 24px;
    line-height: 1.33;

    @include tabletStyles {
      margin-bottom: 50px;
    }
  }

  &__form {
    max-width: 360px;
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 11px 20px;
    background-color: transparent;
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-weight: map.get($font-weights, "medium");
    font-size: 13px;
    line-height: 2.15;
    cursor: pointer;
  }

  &__input::placeholder {
    color: #222222;
    opacity: 0.7;
  }

  &__input:hover::placeholder {
    color: #151515;
    opacity: 1;
  }

  &__input:focus::placeholder {
    opacity: 0;
  }

  &__accept-btn {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 11px;
    right: 22px;
    font-weight: map.get($font-weights, "medium");
    font-size: 13px;
    line-height: 2.15;
    transition: visibility 0.5s, opacity 0.8s linear;
  }

  &__input:focus + &__accept-btn {
    visibility: visible;
    opacity: 1;
  }
}
