:root {
  --page-background: #f4f4f4;
  --page-section-delimiter-color: #e3e3e3;
  --headline-color: #151515;
  --text-color: #151515;
  --main-text-color: #222222;
  --logo: url(../images/logo-light.svg);
  --switch-background: #ffffff;
  --switch-slider-color: #24b47e;
  --switch-box-shadow: #ffffff;
  --switch-left-icon: url(../images/sun-light.svg);
  --switch-right-icon: url(../images/moon-light.svg);
  --buttons-color: #151515;
  --prev-next-btn-background: #ebebeb;
  --prev-btn-icon: url(../images/previous-btn-light.svg);
  --next-btn-icon: url(../images/next-btn-light.svg);
  --links-color: #151515;
  --learn-more-btn-background: #24b47e;
  --learn-more-btn-hover-background: #319e75;
  --learn-more-btn-color: #ffffff;
  --modal-menu-background: #f4f4f4;
  --swiper-bullet-color: #cacaca;
  --swiper-active-bullet-color: #151515;
  --header-background: #f4f4f4;
  --card-background: #f4f4f4;
  --card-description-inside-color: #151515;
  --card-description-outside-color: #151515;
  --card-description-line-color: #d7d4d4;
  --bikes-select-border-color: #e3e3e3;
  --bikes-option-background: #f4f4f4;
  --bikes-button-color: #222222;
  --bikes-selected-button-color: #151515;
  --footer-background: #efefef;
  --subscription-input-border: rgba(199, 199, 199, 0.5);
  --subscription-input-placeholder-color: #222222;
  --subscription-input-placeholder-hover-color: #151515;
  --copyright-color: #cfcfcf;
}

:root.theme-dark {
  --page-background: #333333;
  --page-section-delimiter-color: #565656;
  --headline-color: #ffffff;
  --text-color: #ffffff;
  --main-text-color: #e5e5e5;
  --logo: url(../images/logo-dark.svg);
  --switch-background: #545454;
  --switch-slider-color: #24b47e;
  --switch-box-shadow: #ffffff;
  --switch-left-icon: url(../images/sun-dark.svg);
  --switch-right-icon: url(../images/moon-dark.svg);
  --buttons-color: #ffffff;
  --prev-next-btn-background: #434343;
  --prev-btn-icon: url(../images/previous-btn-dark.svg);
  --next-btn-icon: url(../images/next-btn-dark.svg);
  --links-color: #ffffff;
  --learn-more-btn-background: #24b47e;
  --learn-more-btn-hover-background: #319e75;
  --learn-more-btn-color: #ffffff;
  --modal-menu-background: #333333;
  --swiper-bullet-color: #cacaca;
  --swiper-active-bullet-color: #ffffff;
  --header-background: #333333;
  --card-background: #f4f4f4;
  --card-description-inside-color: #151515;
  --card-description-outside-color: #ffffff;
  --card-description-line-color: #707070;
  --bikes-select-border-color: #e3e3e3;
  --bikes-option-background: #333333;
  --bikes-button-color: #ffffff;
  --bikes-selected-button-color: #e5e5e5;
  --footer-background: #2f2f2f;
  --subscription-input-border: rgba(125, 125, 125, 0.5);
  --subscription-input-placeholder-color: #ffffff;
  --subscription-input-placeholder-hover-color: #ffffff;
  --copyright-color: #565656;
}
